.filter{
    /*background: red;*/
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    flex-wrap: wrap;
}
.el-range-separator{
    padding: 0 3px !important;
}