.modal-dialog{
    width: 1000px;
}
.modal-body{
    display: flex;
    flex-direction: row;
}
.feedbacklist{
    min-width:400px;
    max-width:400px;
    height: 600px;
    border-right: 1px solid #eeeeee;
    overflow-y: auto;
    margin-right: 6px;
}
.form-group{
    flex-grow: 1;
    /*background: #00aaaa;*/
    display: flex;
    justify-content: center;
}
.item{
    width: 100%;
    padding: 20px;
    display: flex;
}
.des{
    flex-grow: 1;
}
.main-content{
    padding: 5px;
}
.time{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.53);
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
    padding: 0 5px;
}
.replylist{
    border-left: 6px solid #6f6f6f;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
}
.line{
    width: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40px;
}
.line .ing{
    color: #ff5a47;
    font-size: 16px;
    margin-right: 0;
}
.line p.feedback-line{
    flex-grow: 1;
    background: #dd4b39;
    width: 1px;
}
.replyContent{
    background: rgba(0, 0, 0, 0.33);
}
.replyContent img{
    max-width: 100%;
    height: auto;
}